<% if (expressionList.length === 0) { %>
<div id="backdrop"></div>
<aside class="modal" id="config-overlay">
  <h2>Please enter User Name</h2>
  <form id="create-user-form">
    <div class="form-control">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter User Name"
      />
    </div>
    <div>
      <button type="reset" class="btn btn-alt" id="cancel-config-btn">
        Cancel
      </button>
      <button type="submit" class="btn">Confirm</button>
    </div>
  </form>
</aside>
<% } %>
