<main id="calculator">
    <div class="display-area">
      <input type="text" class="display-input-area" name="display" id="display" readonly />
    </div>
    <div class="input-area">
      <input type="text" class="display-input-area" name="input" id="input" placeholder="0" />
    </div>
    <div class="input-buttons">
      <button class="extra-symbol" id="reset">AC</button>
      <button class="extra-symbol" id="backspace">DEL</button>
      <button class="symbols" id="^">^</button>
      <button class="symbols" id="/">/</button>
      <button id="7">7</button><button id="8">8</button
      ><button id="9">9</button>
      <button class="symbols" id="*">x</button>
      <button id="4">4</button><button id="5">5</button
      ><button id="6">6</button>
      <button class="symbols" id="-">-</button>
      <button id="1">1</button><button id="2">2</button
      ><button id="3">3</button>
      <button class="symbols" id="+">+</button>
      <button id="0" class="zero">0</button
      ><button class="symbols" id=".">.</button>
      <button class="symbols" id="equals">=</button>
    </div>
  </main>