<main id="history">
  <h1>History</h1>
  <div id="search">
    <form id="search-form">
      <input
        type="text"
        name="name"
        id="search-term-input"
        placeholder="Please enter search term"
      />
      <button type="submit">Search</button>
    </form>
  </div>
  <div id="query-list">
    <ul>
  
    </ul>
  </div>
</main>
