<main id="history">
    <h1>History</h1>
    <div id="search">
      <form action="" id="search-form">
        <input
          type="text"
          name="search-term-input"
          id="search-term-input"
          placeholder="Please enter search term"
        />
        <button type="">Filter</button>
        <button type="submit">Search</button>
      </form>
    </div>
    <ul id="query-list">
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
      <li>1+2+3 : 6</li>
    </ul>
  </main>