<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <section id="landing-section">
        <form action="/signup" id="signup" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Please choose your username" required>
            <label for="fullname">Name</label>
            <input type="text" name="name" id="name" placeholder="Please enter your name" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Please choose your password" required>
            <button type="submit">Signup</button>
            <p>Already have an account? <a href="">Sign in</a></p>
        </form>
    </section>
</body>
</html>